<form method="post" action="{% if entity.id|default(0) > 0 %}{{ path('_update',{'slug':entity.slug}) }}{% else %}{{ path('_create') }}{% endif %}">
    <div class="ui form segment">
        <div class="field">
            <label class="control-label required" for="event_startdate">Startdatum</label>

            <div class="ui left labeled icon input">
                <input type="datetime"
                       id="event_startdate"
                       name="startdate"
                       required="required"
                       value="{{ entity.startdate.format('Y-m-d H:i')|default('') }}"
                       placeholder="{{ "now"|date('d.m.Y H:i') }}"
                       class="form-control">

                <i class="icon calendar"></i>

                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="control-label required" for="event_enddate">Enddatum</label>

            <div class="ui left labeled icon input">
                <input type="datetime"
                       id="event_enddate"
                       name="enddate"
                       value="{{ entity.enddate.format('Y-m-d H:i')|default('') }}"
                       placeholder="{{ "now"|date('d.m.Y H:i') }}"
                       class="form-control">

                <i class="icon calendar"></i>
            </div>
        </div>
        <div class="field">
            <label class="" for="event_summary">Zusammenfassung</label>

            <div class="ui left labeled input">
                <input type="text"
                       id="event_summary"
                       name="summary"
                       value="{{ entity.summary|default('') }}"
                       required="required"
                       maxlength="255"
                       class="form-control">

                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="control-label required" for="event_summary">Beschreibung</label>

            <div class="ui left labeled icon input attached-label">
                <textarea name="description">{{ entity.description|default('') }}</textarea>
                <div class="ui bottom attached label">Du kannst hier <a href="https://en.wikipedia.org/wiki/Markdown">Markdown</a> benutzen.</div>
            </div>
        </div>

        <div class="field">
            <label class="control-label required" for="event_url">URL</label>

            <div class="ui left labeled icon input">
                <input type="text"
                       id="event_url"
                       name="url"
                       maxlength="255"
                       value="{{ entity.url|default('') }}"
                       class="form-control">
                <i class="icon globe"></i>
            </div>
        </div>

        <div class="field">
            <label class="control-label required" for="event_location">Ort</label>

            <div class="ui left labeled icon input attached-{% if entity.location.lat|default(0) > 0 %}geo-{% endif %}label">
                <input type="text"
                       id="event_location"
                       name="location"
                       maxlength="255"
                       value="{{ entity.location.name|default('') }}"
                       class="form-control">
                <input type="hidden" name="location_lat" value="{{ entity.location.lat|default('') }}">
                <input type="hidden" name="location_lon" value="{{ entity.location.lon|default('') }}">
                <i class="icon map marker"></i>
                <div class="ui bottom attached label">
                    Du kannst zu diesem Ort auch Geokoordinaten <a href="#" class="add_geo">hinterlegen</a>.<br />
                    <span class="coords">{% if entity.location.lat|default(0) > 0 %}Folgende Koordinaten sind angegeben: lat:{{ entity.location.lat }}, lon:{{ entity.location.lon }}{% endif %}</span>
                </div>
                <div class="ui modal geo chooser">
                    <i class="close icon"></i>
                    <div class="header">
                        Wähle einen Punkt auf der Karte
                    </div>
                    <div class="content">
                        <div id="map"></div>
                    </div>
                    <div class="actions">
                        <div class="ui button cancel">
                            Cancel
                        </div>
                        <div class="ui button ok">
                            Okay
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="" for="event_tags">Tags</label>

            <div class="ui left icon input attached-label">
                <input type="text"
                       id="event_tags"
                       name="tags"
                       value="{{ entity.getTagsAsText() }}"
                       class="form-control">
                <i class="icon tag"></i>
                <div class="ui bottom attached label">Du kannst hier kommasepariert <a href="https://en.wikipedia.org/wiki/Tag_%28metadata%29">Tags</a> angeben.</div>
            </div>
        </div>

        <input type="submit" class="ui button blue" value="Speichern"/>
    </div>

</form>