<form class="ui form filter" method="post" action="{{ path('_filter') }}">
        <div class="fields">
            <div class="four wide field">
                <label class="" for="link_category">Kategorie</label>
                <div class="ui input">
                    <div class="ui dropdown selection fluid" id="link_category">
                    <input
                                name="category"
                                type="hidden"
                                value="{{ category.getSlug()|default('') }}">
                        <div class="default text">Kategorie</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {% for categoryItem in categories %}
                                <div class="item" data-value="{{ categoryItem.getSlug() }}">{{ categoryItem.getName }}</div>
                            {% endfor %}
                            <div class="item" data-value=""> - leer - </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide field">
                <label class="" for="link_year">Jahr</label>
                <div class="ui input">
                    <div class="ui dropdown selection fluid" id="link_year">
                        <input name="year" type="hidden" value="{{ year|default('') }}">
                        <div class="default text">Jahr</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {% for yearItem in years %}
                                <div class="item" data-value="{{ yearItem.pubyear }}">{{ yearItem.pubyear }}</div>
                            {% endfor %}
                            <div class="item" data-value=""> - leer - </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide field">
                <label class="" for="link_tag">Tag</label>
                <div class="ui input">
                    <div class="ui dropdown selection fluid" id="link_tag">
                        <input name="tag" type="hidden" value="{{ tag.getSlug()|default('') }}">
                        <div class="default text">Tag</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {% for tagItem in tags %}
                                <div class="item" data-value="{{ tagItem.getSlug }}">{{ tagItem.getName }}</div>
                            {% endfor %}
                            <div class="item" data-value=""> - leer - </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="one wide field">
                    <label class="" for="link_submit">&nbsp</label>
                    <div>
                        <input type="submit" class="ui button primary" value="Filtern"/>
                </div>
            </div>
        </div>
</form>
