{% extends 'FreifunkLinkSinkBundle::layout.html.twig' %}

{% block css %}
    {% stylesheets filter="compass"
        "@FreifunkLinkSinkBundle/Resources/assets/css/links.scss"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
    "@FreifunkLinkSinkBundle/Resources/assets/js/links.js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body -%}
    <div class="ui one column page grid title">
        <div class="ui column">
            <h1>
                Links 
                {% if tag|default(false) %}für Tag „{{ tag.name }}“{% endif %}
            </h1>
            {% if tag|default(false) %}
            <a href="{{ path('tag_show',{'slug' : tag.slug }) }}.rss"><i class="icon rss"></i>Link zum Feed</a>
            {% endif %}
        </div>
    </div>

    <div class="ui three column page grid stackable">
        {% for entity in entities %}
            {{ include('FreifunkLinkSinkBundle:Link:link_box.html.twig',{'truncate_summary':true, 'truncate_description': true}) }}
        {% endfor %}
    </div>

{% endblock %}
