{% extends 'FreifunkLinkSinkBundle::layout.html.twig' %}

{% block css %}
    {% stylesheets filter="compass"
        "@FreifunkLinkSinkBundle/Resources/assets/css/links.scss"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
    "@FreifunkLinkSinkBundle/Resources/assets/js/links.js"
    "@FreifunkLinkSinkBundle/Resources/assets/js/link_forms.js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body -%}
    {% if app.request.query.get('deletedtitle') !='' %}
    <div class="column grid">
        <div class="column">
            <div id="mission-statement" class="ui message ">
                Link <strong>{{ app.request.query.get('deletedtitle') }}</strong> gelöscht.
            </div>
        </div>
    </div>
    {% endif %}
    <div class="ui basic segment">
        <h1 class="ui primary block dividing header">
            Links
            {% if app.request.attributes.get('_route') %}
                für Tag {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}
            {% endif %}
        </h1>
    </div>

    <div class="ui basic segment">
        {% if app.request.attributes.get('_route') %}
        <div class="column">
            <div id="searchresult" class="ui message">
                <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}.rss"><i class="icon rss"></i>Link zum Feed</a>
                 ({% if entities|length == 1 %}1 gefundener Link{% else %}{{ entities|length }} gefundene Links{% endif %})
            </div>
        </div>
        {% endif %}
        <div class="column grid">
            {{ include('FreifunkLinkSinkBundle:Link:filter_form.html.twig') }}
        </div>
    </div>


    {% if entities|length > 0 %}
        <div class="ui basic segment">
            <div class="ui cards">
                {% for entity in entities %}
                    {{ include('FreifunkLinkSinkBundle:Link:link_box.html.twig',{'truncate_summary':true, 'truncate_description': true}) }}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="ui one column page grid stackable">
            <div class="ui column">
                <p>Es konnten keine Links gefunden werden.</p>
            </div>
        </div>
    {% endif %}

{% endblock %}
