{% extends 'FreifunkLinkSinkBundle::layout.html.twig' %}

{% block css %}
    {% stylesheets filter="compass"
        "@FreifunkLinkSinkBundle/Resources/assets/css/links.scss"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
    "@FreifunkLinkSinkBundle/Resources/assets/js/links.js"
    "@FreifunkLinkSinkBundle/Resources/assets/js/link_forms.js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body -%}
    {% if app.request.query.get('deletedtitle') !='' %}
    <div class="ui one column page grid">
        <div class="column">
            <div id="mission-statement" class="ui message ">
                Link <strong>{{ app.request.query.get('deletedtitle') }}</strong> gelöscht.
            </div>
        </div>
    </div>
    {% endif %}
    <div class="ui one column page grid title">
        {% if app.request.attributes.get('_route') %}
        <div class="ui column">
            <div id="searchresult" class="ui message">
                <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}.rss"><i class="icon rss"></i>Link zum Feed</a>
                 ({% if entities|length == 1 %}1 gefundener Link{% else %}{{ entities|length }} gefundene Links{% endif %})
            </div>
        </div>
        {% endif %}
        <div class="ui column page grid">
            {{ include('FreifunkLinkSinkBundle:Link:filter_form.html.twig') }}
        </div>
    </div>



    <div class="ui three column page grid stackable">
        {% for entity in entities %}
            {{ include('FreifunkLinkSinkBundle:Link:link_box.html.twig',{'truncate_summary':true, 'truncate_description': true}) }}
        {% endfor %}
    </div>

{% endblock %}
