<form method="post" action="{% if entity.id|default(0) > 0 %}{{ path('_update',{'slug':entity.slug}) }}{% else %}{{ path('_create') }}{% endif %}">
    <div class="ui form segment">
        <div class="field">
            <label class="control-label required" for="link_pubdate">Veröffentlichungsdatum</label>

            <div class="ui left labeled icon input">
                <input type="datetime"
                       id="link_pubdate"
                       name="pubdate"
                       required="required"
                       value="{{ entity.pubdate.format('Y-m-d')|default('') }}"
                       placeholder="{{ "now"|date('d.m.Y') }}"
                       class="form-control">

                <i class="icon calendar"></i>

                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>


        <div class="field">
            <label class="" for="link_description">Beschreibung</label>

            <div class="ui left labeled icon input attached-label">
                <textarea name="description">{{ entity.description|default('') }}</textarea>
                <div class="ui bottom attached label">Du kannst hier <a href="https://en.wikipedia.org/wiki/Markdown">Markdown</a> benutzen.</div>
            </div>
        </div>

        <div class="field">
            <label class="control-label required" for="link_title">Titel</label>

            <div class="ui left labeled icon input">
                <input type="text"
                       id="link_title"
                       name="title"
                       required="required"
                       maxlength="255"
                       value="{{ entity.title|default('') }}"
                       class="form-control">
                <i class="icon globe"></i>
                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>


        <div class="field">
            <label class="control-label required" for="link_url">URL</label>

            <div class="ui left labeled icon input">
                <input type="text"
                       id="link_url"
                       name="url"
                       required="required"
                       maxlength="255"
                       value="{{ entity.url|default('') }}"
                       class="form-control">
                <i class="icon globe"></i>
                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>

        <div class="fields">
            <div class="eight wide field">
                <input type="hidden"
                       id="link_enclosureid"
                       name="enclosureid"
                       value="{{ entity.enclosure.id|default('') }}">

                <label class="" for="link_enclosure">Medienlink</label>

                <div class="ui left labeled icon input">
                    <input type="text"
                           id="link_enclosureurl"
                           name="enclosureurl"
                           maxlength="255"
                           value="{{ entity.enclosure.url|default('') }}"
                           class="form-control">
                    <i class="icon globe"></i>

                </div>
            </div>
            <div class="four wide field">
                <label class="" for="link_enclosure">Medienlänge</label>

                <div class="ui left labeled icon input">
                    <input type="text"
                           id="link_enclosurelength"
                           name="enclosurelength"
                           maxlength="255"
                           value="{{ entity.enclosure.length|default('') }}"
                           class="form-control">
                    <i class="icon globe"></i>

                </div>
            </div>
            <div class="four wide field">
                <label class="" for="link_enclosure">Medientyp (MIME-Type)</label>

                <div class="ui left labeled icon input">
                    <input type="text"
                           id="link_enclosuretype"
                           name="enclosuretype"
                           maxlength="255"
                           pattern=".*\/.*"
                           value="{{ entity.enclosure.type|default('') }}"
                           class="form-control">
                    <i class="icon globe"></i>

                </div>
            </div>
        </div>
        <div class="field">
            <label class="control-label required" for="link_category">Kategorie</label>
            <div class="ui left labeled input">
                <div class="ui dropdown selection fluid">
                    <input name="category" type="hidden" value="{{ entity.category|default('') }}">
                    <div class="default text">Bitte wähle eine Kategorie aus</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value="presse">Presse</div>
                        <div class="item" data-value="radio">Radio</div>
                        <div class="item" data-value="tv">Fernsehen</div>
                        <div class="item" data-value="podcast">Podcast</div>
                    </div>
                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
            </div>
        </div>



        <div class="field">
            <label class="" for="link_tags">Tags</label>

            <div class="ui left icon input attached-label">
                <input type="text"
                       id="link_tags"
                       name="tags"
                       value="{{ entity.getTagsAsText() }}"
                       class="form-control">
                <i class="icon tag"></i>
                <div class="ui bottom attached label">Du kannst hier kommasepariert <a href="https://en.wikipedia.org/wiki/Tag_%28metadata%29">Tags</a> angeben.</div>
            </div>
        </div>

        <input type="submit" class="ui button blue" value="Speichern"/>
    </div>

</form>