<form class="ui form link" method="post" action="{% if entity.id|default(0) > 0 %}{{ path('_update',{'slug':entity.slug}) }}{% else %}{{ path('_create') }}{% endif %}">
    <div class="ui form segment">
        <div class="field wis">
            <label class="control-label required" for="link_title">Titel</label>

            <div class="ui left labeled icon input hint" data-content="Titel des Beitrags">
                <input type="text"
                       id="link_title"
                       name="ls_title"
                       required="required"
                       maxlength="255"
                       value="{{ entity.title|default('') }}"
                       class="form-control">
                <i class="icon bullseye"></i>
                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>

        <div class="field wis">
            <label class="control-label required" for="link_url">URL</label>

            <div class="ui left labeled icon input hint" title="URL zum Beitrag">
                <input type="text"
                       id="link_url"
                       name="ls_url"
                       required="required"
                       maxlength="255"
                       value="{{ entity.url|default('') }}"
                       class="form-control">
                <i class="icon globe"></i>
                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>

        <div class="field wis">
            <label class="control-label required" for="link_pubdate">Veröffentlichungsdatum</label>

            <div class="ui left labeled icon input hint" title="Wann wurde der Beitrag veröffentlicht?">
                <input type="datetime"
                       id="link_pubdate"
                       name="ls_pubdate"
                       required="required"
                       value="{{ entity.pubdate.format('Y-m-d')|default('') }}"
                       placeholder="{{ "now"|date('d.m.Y') }}"
                       class="form-control">

                <i class="icon calendar"></i>

                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>


        <div class="field wis">
            <label class="" for="link_description">Beschreibung</label>

            <div class="ui left labeled icon input attached-label">
                <textarea id="link_description" name="ls_description">{{ entity.description|default('') }}</textarea>
                <div class="ui bottom attached label">Du kannst hier <a href="https://en.wikipedia.org/wiki/Markdown">Markdown</a> benutzen.</div>
            </div>
        </div>

        <div class="fields">
            <div class="eight wide field">
                <input type="hidden"
                       id="link_enclosureid"
                       name="ls_enclosureid"
                       value="{{ entity.enclosure.id|default('') }}">

                <label class="" for="link_enclosureurl">Medienlink</label>

                <div class="ui left labeled icon input hint" title="Link zu einer Mediendatei (mp3, ogg, ...), die z.B. zu einem Podcast gehört. Länge und Medientyp werden beim Speichern automatisch ergänzt">
                    <input type="text"
                           id="link_enclosureurl"
                           name="ls_enclosureurl"
                           maxlength="255"
                           value="{{ entity.enclosure.url|default('') }}"
                           class="form-control">
                    <i class="icon globe"></i>

                </div>
            </div>
            <div class="four wide field">
                <label class="" for="link_enclosure">Medienlänge in Byte</label>

                <div class="ui left labeled icon input">
                    <input type="text"
                           id="link_enclosurelength"
                           name="ls_enclosurelength"
                           maxlength="255"
                           placeholder="Wird beim Speichern gesetzt"
                           value="{{ entity.enclosure.length|default('') }}"
                           disabled
                           class="form-control">
                    <i class="icon file outline"></i>

                </div>
            </div>
            <div class="four wide field">
                <label class="" for="link_enclosure">Medientyp (MIME-Type)</label>

                <div class="ui left labeled icon input">
                    <input type="text"
                           id="link_enclosuretype"
                           name="ls_enclosuretype"
                           maxlength="255"
                           placeholder="Wird beim Speichern gesetzt"
                           pattern=".*\/.*"
                           value="{{ entity.enclosure.type|default('') }}"
                           disabled
                           class="form-control">
                    <i class="icon inbox"></i>

                </div>
            </div>
        </div>
        <div class="fields">
            <div class="four wide field">
                <label class="control-label required" for="link_category">Kategorie</label>
                <div class="ui left labeled input">
                    <div class="ui dropdown selection fluid">
                        <input name="ls_category" type="hidden" value="{{ entity.category.getSlug()|default('') }}">
                        <div class="default text">Bitte wähle eine Kategorie</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {% for category in categories %}
                                <div class="item" data-value="{{ category.getSlug() }}">{{ category.getName }}</div>
                            {% endfor %}
                        </div>
                        <div class="ui corner label">
                            <i class="icon asterisk"></i>
                        </div>
                    </div>
                </div>
            </div>



            <div class="twelve wide field">
                <label class="" for="link_tags">Tags</label>

                <div class="ui left labeled icon input">
                    <input type="text"
                           id="link_tags"
                           name="ls_tags"
                           value="{{ entity.getTagsAsText() }}"
                           class="form-control">
                    <i class="icon tag"></i>
                    <script>
                        $('#link_tags').selectize({
                            persist: false,
                            plugins: ['remove_button','restore_on_backspace'],
                            maxItems: null,
                            maxOptions: 5,
                            valueField: 'tag',
                            labelField: 'tag',
                            searchField: ['tag'],
                            options: [
                                {% for tagItem in tags %}
                                { tag : '{{ tagItem.getName }}'},
                                {% endfor %}
                                { tag : '' }
                            ],
                            render: {
                                item: function(item, escape) {
                                    return '<div>' +
                                            (item.tag ? '<span class="name">' + escape(item.tag) + '</span>' : '') +
                                            '</div>';
                                },
                                option: function(item, escape) {
                                    return '<div>' +
                                            '<span class="label">' + escape(item.tag) + '</span>' +
                                            '</div>';
                                }
                            },
                            create: function(input) {
                                return {tag : input};
                            }
                        });
                    </script>
                </div>
            </div>
            <div class="field oos">
                <label class="control-label required" for="link_origin">Origin</label>
                <div class="ui left labeled icon input hint" title="Origin URL (Screenreader: bitte leer lassen)">
                    <input type="text"
                           name="ls_origin"
                           id="link_origin"
                           maxlength="255"
                           value="{{ entity.origin|default('') }}"
                           class="form-control">
                    <i class="icon globe"></i>
                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
            </div>
        </div>
	<div class="ui blue submit button">Speichern</div>
    </div>

</form>
