<form class="ui form" method="post" id="link-form" action="{% if entity.id|default(0) > 0 %}{{ path('_update',{'slug':entity.slug}) }}{% else %}{{ path('_create') }}{% endif %}">
    <div class="ui stackable grid">
        <div class="eight wide column">
            <div class="required field{% if(errors|default('0') != 0) %} {% if('ls_title' in errors|keys) %}error{% endif %}{% endif %}">
                <label for="link_title">Titel</label>
                <div class="ui icon input">
                    <div class="ui icon input" data-content="Titel des Beitrags">
                        <input type="text"
                               id="link_title"
                               name="ls_title"
                               required="required"
                               maxlength="255"
                               value="{{ entity.title|default('') }}"
                               class="form-control">
                        {% if(errors|default('0') != 0) %} {% if('ls_title' in errors|keys) %}
                            <div class="ui red pointing above ui label">{{ errors.ls_title }}</div>
                        {% endif %}{% endif %}
                        <i class="icon bullseye"></i>
                    </div>
                </div>
            </div>
            <div class="required field{% if(errors|default('0') != 0) %} {% if('ls_url' in errors|keys) %}error{% endif %}{% endif %}">
                <label for="link_url">URL</label>

                <div class="ui icon input">
                    <input type="text"
                           id="link_url"
                           name="ls_url"
                           required="required"
                           maxlength="255"
                           value="{{ entity.url|default('') }}"
                           class="form-control">
                    {% if(errors|default('0') != 0) %} {% if('ls_url' in errors|keys) %}
                        <div class="ui red pointing above ui label">{{ errors.ls_url }}</div>
                    {% endif %}{% endif %}
                    <i class="icon globe"></i>
                </div>
            </div>

            <div class="required field{% if(errors|default('0') != 0) %} {% if('ls_pubdate' in errors|keys) %}error{% endif %}{% endif %}">
                <label for="link_pubdate">Veröffentlichungsdatum</label>

                <div class="ui icon input">
                    <input type="text"
                           id="link_pubdate"
                           name="ls_pubdate"
                           required="required"
                           value="{{ entity.pubdate.format('Y-m-d')|default('') }}"
                           placeholder="{{ "now"|date('Y-m-d') }}"
                           class="form-control">
                    {% if(errors|default('0') != 0) %} {% if('ls_pubdate' in errors|keys) %}
                        <div class="ui red pointing above ui label">{{ errors.ls_pubdate }}</div>
                    {% endif %}{% endif %}
                    <i class="icon calendar"></i>
                </div>
            </div>
        </div>
        <div class="eight wide column">

            <div class="field">
                <label class="" for="link_description">Beschreibung</label>

                <div class="ui input">
                    <textarea id="link_description" rows="8" name="ls_description">{{ entity.description|default('') }}</textarea>
                </div>
                <div class="ui label">
                    Du kannst hier <a href="https://en.wikipedia.org/wiki/Markdown">Markdown</a> benutzen.
                </div>
            </div>
        </div>
        <div class="sixteen wide column">

            <div class="fields">
                <div class="eight wide field">
                    <input type="hidden"
                           id="link_enclosureid"
                           name="ls_enclosureid"
                           value="{{ entity.enclosure.id|default('') }}">

                    <label class="" for="link_enclosureurl">Medienlink</label>

                    <div class="ui icon input hint" title="Link zu einer Mediendatei (mp3, ogg, ...), die z.B. zu einem Podcast gehört. Länge und Medientyp werden beim Speichern automatisch ergänzt">
                        <input type="text"
                               id="link_enclosureurl"
                               name="ls_enclosureurl"
                               maxlength="255"
                               value="{{ entity.enclosure.url|default('') }}"
                               class="form-control">
                        <i class="icon globe"></i>

                    </div>
                </div>
                <div class="four wide field">
                    <label class="" for="link_enclosure">Medienlänge in Byte</label>

                    <div class="ui icon input">
                        <input type="text"
                               id="link_enclosurelength"
                               name="ls_enclosurelength"
                               maxlength="255"
                               placeholder="Wird beim Speichern gesetzt"
                               value="{{ entity.enclosure.length|default('') }}"
                               disabled
                               class="form-control">
                        <i class="icon file outline"></i>

                    </div>
                </div>
                <div class="four wide field">
                    <label class="" for="link_enclosure">Medientyp (MIME-Type)</label>

                    <div class="ui icon input">
                        <input type="text"
                               id="link_enclosuretype"
                               name="ls_enclosuretype"
                               maxlength="255"
                               placeholder="Wird beim Speichern gesetzt"
                               pattern=".*\/.*"
                               value="{{ entity.enclosure.type|default('') }}"
                               disabled
                               class="form-control">
                        <i class="icon inbox"></i>

                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="four wide field">
                    <div class="required field{% if(errors|default('0') != 0) %} {% if('ls_category' in errors|keys) %}error{% endif %}{% endif %}">
                    <label for="link_category">Kategorie</label>
                        <div class="ui input">
                            <div class="ui dropdown selection fluid">
                                <input name="ls_category" type="hidden" value="{{ entity.category.getSlug()|default('') }}">
                                <div class="default text">Bitte wähle eine Kategorie</div>
                                {% if(errors|default('0') != 0) %} {% if('startdate' in errors|keys) %}
                                    <div class="ui red pointing above ui label">{{ errors.startdate }}</div>
                                {% endif %}{% endif %}
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    {% for category in categories %}
                                        <div class="item" data-value="{{ category.getSlug() }}">{{ category.getName }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="twelve wide field">
                        <label for="link_tags">Tags</label>

                        <div class="ui icon input">
                            <input type="text"
                                   id="link_tags"
                                   name="ls_tags"
                                   value="{{ entity.getTagsAsText() }}"
                                   class="form-control"
                                   style="width: 100%;">
                            <i class="icon tag"></i>
                        </div>
                        <div class="ui label">Du kannst hier kommasepariert <a
                                    href="https://en.wikipedia.org/wiki/Tag_%28metadata%29">Tags</a> angeben.
                        </div>
                </div>
                <div class="field oos">
                    <label class="control-label required" for="link_origin">Origin</label>
                    <div class="ui left labeled icon input hint" title="Origin URL (Screenreader: bitte leer lassen)">
                        <input type="text"
                               name="ls_origin"
                               id="link_origin"
                               maxlength="255"
                               value="{{ entity.origin|default('') }}"
                               class="form-control">
                        <i class="icon globe"></i>
                        <div class="ui corner label">
                            <i class="icon asterisk"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="submit" class="ui button primary" value="Speichern"/>
</form>
