<div class="ui column">
    <div class="ui segment link box">
        <h2 class="ui dividing header segment green inverted"><a
                    href="{{ path('_show', { 'slug': entity.slug }) }}">{{ entity.title }}</a>
        </h2>

        <p class="edit">
            <a href="{{ path('_edit', {'slug' : entity.slug }) }}"><i
                        class="circular icon edit green inverted link"></i>Bearbeiten</a>
        </p>
        
	<p class="edit">
            <a href="{{ path('_delete', {'slug' : entity.slug }) }}"><i
                        class="circular icon trash green inverted link"></i>Löschen</a>
        </p>

        <p class="pubdate ">
            <i class="circular icon calendar green inverted link" title="Veröffentlicht am"
               data-content="Veröffentlicht am"></i>{{ entity.pubdate.format('Y-m-d') }}
        </p>


        {% if entity.tags|length > 0 %}
            <ul class="tags">
                {% for tag in entity.tags %}
                    <li class="tag"><a href="{{ path('tag_show',{'slug' : tag.slug }) }}"><i
                                    class="circular icon tag green inverted link" data-content="Tags"></i>{{ tag.name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if entity.url|length > 0 %}
            <p class="url">
                <a href="{{ entity.url }}" target="_blank"><i class="circular icon globe green inverted link" data-content="Link zum Beitrag"></i>Direkt zum Beitrag</a>
            </p>
        {% endif %}

        {%  if entity.enclosure is not null %}
            <p class="enclosure">
                <a href="{{ entity.enclosure.url }}" target="_blank"><i class="circular icon music green inverted link" data-content="Mediendatei zum Beitrag"></i>Mediendatei ansehen/abspielen</a>
            </p>
        {% endif %}

        <div class="ui clearing divider"></div>

        {% if truncate_description|default(false) %}
            <p>{{ entity.description|truncate(255)|markdown }}</p>
        {% else %}
            <p>{{ entity.description|markdown }}</p>
        {% endif %}
    </div>
</div>
