{% extends "FreifunkLinkSinkBundle::layout.html.twig" %}

{% block css %}
    {% stylesheets filter="compass"
    "@FreifunkLinkSinkBundle/Resources/assets/css/links.scss" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
    "@FreifunkLinkSinkBundle/Resources/assets/js/links.js"
    "@FreifunkLinkSinkBundle/Resources/assets/js/link_forms.js"%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body -%}
    {% if app.request.query.get('deletedname') !='' %}
        <div class="ui one column page grid">
            <div class="column">
                <div id="mission-statement" class="ui message ">
                    Kategorie <strong>{{ app.request.query.get('deletedname') }}</strong> gelöscht.
                </div>
            </div>
        </div>
    {% endif %}
    {% if app.request.query.get('haslinksname') !='' %}
        <div class="ui one column page grid">
            <div class="column">
                <div id="mission-statement" class="ui message yellow">
                    Kategorie <strong>{{ app.request.query.get('haslinksname') }}</strong> ist noch mit Links verbunden.
                </div>
            </div>
        </div>
    {% endif %}
    <div class="ui one column page grid title">
        <div class="ui column">
            <h1 class="ui header">
                Kategorien
            </h1>
        </div>
    </div>

    <div class="ui one column page grid stackable">
        <div class="column">
            <table class="ui table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Aktionen</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>
                            {{ entity.id }}
                        </td>
                        <td>
                            {{ entity.getName() }}
                        </td>
                        <td>
                            <a href="{{ path('category_edit', {'slug':entity.slug}) }}"><i
                                        class="circular icon edit green inverted link" title="Bearbeiten"></i></a>
                            <a href="{{ path('category_delete', {'slug':entity.slug}) }}"><i
                                    class="circular icon trash green inverted link" title="Löschen" alt="Löschen"></i></a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="4"><a href="{{ path('category_new') }}">Neue Kategorie anlegen</a></td>
                </tr>
                </tfoot>
            </table>
        </div>

    </div>

{% endblock %}
