{% extends 'FreifunkLinkSinkBundle::layout.html.twig' %}

{% block css %}
    {% stylesheets filter="compass"
    "@FreifunkLinkSinkBundle/Resources/assets/css/links.scss"
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
    "@FreifunkLinkSinkBundle/Resources/assets/js/link_forms.js"
    "@FreifunkLinkSinkBundle/Resources/assets/js/links.js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


{% block body -%}
    <div class="ui one column page grid">
        <div class="ui column">
        <form class="ui form delete" method="post" action="{% if entity.id|default(0) > 0 %}{{ path('tag_deleteconfirmed',{'slug':entity.slug}) }}{% else %}{{ path('tag_show',{'slug':entity.slug}) }}{% endif %}">
            <div class="ui form segment">
                <div class="field">
                    <div class="ui message red">
                        Soll das Tag <strong>{{ entity.getName() }}</strong> wirklich gelöscht werden?
                    </div>
                 </div>

                    <div class="ui buttons">
                        <a class="ui button reset" id="cancelbutton" onClick="history.go(-1);return true;">Abbrechen</a>
                        <div class="or"></div>
                        <div class="ui negative button submit">Löschen</div>
                    </div>
                </div>

        </form>
</div>

    </div>

{% endblock %}
